@import "./scss_components/variables";
@import "./scss_components/mixins";
@import "./scss_components/header";
@import "./scss_components/display_phone";
@import "./scss_components/detail.scss";
@import "./scss_components/preloader.scss";
@import "./scss_components/footer.scss";

.App{
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

