@keyframes spin{
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
}
}

@mixin spin($duration){
    animation: spin $duration linear infinite ;
}

@mixin break($width...) {
    @if length($width)==1 {
        @media (min-width: nth($width, 1)) {
            @content;
        }
    }
    @if length($width)==2 {
        @media (min-width: nth($width, 1)) and (max-width:nth($width, 2)) {
            @content;
        }
    }
}