
  @import './mixins';

  @font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/bentonsans-black-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style:normal;
  }
  @font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/bentonsans-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style:normal;
  }
  @font-face {
    font-family: 'Benton Sans';
    src: url('./fonts/bentonsans-book-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style:normal;
  }


$display-text-color:#4A90E2;
$detail-text-color:#4A4A4A;
$shadow-color:rgba(44,44,44,0.5);

$main-font:"Benton Sans",sans-serif;
$max-screen:1600px;
$header-height:55px;

