.detail-container{
  width: 100%;
  height: 100vh;
  min-height: 569px;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  color:$detail-text-color;
  padding: 15px;
  box-sizing: border-box;
  z-index: 11;
  @include fadeIn;
  @include break(0,768px){
   min-height: 100vh;
   
  }
  .detail{
      position: relative;
      max-width: $max-screen;
       background-color: #fff;
      display: grid;
      grid-template-columns: 50% minmax(min-content,350px);
      grid-template-areas: "img info";
      grid-template-rows: 500px;
      box-sizing: border-box;
       border-radius: 8px;
       box-shadow: 0 2px 4px $shadow-color;
       @include pushUp;
       @include break(361px,599px){
        grid-template-columns: 1fr;
        grid-template-rows: 280px minmax(200px,280px);
        grid-template-areas: "img" "info";
       }
       @include break(0,360px){
        grid-template-columns: 1fr;
        grid-template-rows: 250px minmax(200px,250px);
        grid-template-areas: "img" "info";
       }
       @include break(0,599px){
        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 30px;
            background: linear-gradient(to bottom, rgba(#fff,0) 0%, #ffffff 100%);
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 20px;
        }
       }
       .product-img{
           grid-area: img;
           padding: 30px;
           @include break(0,768px){
            padding: 15px;
            padding-top: 30px;
           }
           img{
               width: 100%;
               height: 100%;
               object-fit: contain;
           }
       }
       .info{
           grid-area: info;
           position: relative;
           padding: 30px;
           overflow: scroll;
           @include break(0,768px){
            padding: 15px;
           }
           
           p{
            font-size: 16px;
            font-weight: 500;
            text-transform: capitalize;
            @include break(0,768px){
                margin: 8px 0;
            }
        }
        .descri{
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            font-weight: 100;
            span{
                margin: 16px 0;
                display: block;
                font-size: 16px;
                font-weight: 500;
                @include break(0,768px){
                    margin: 8px 0;
                }
            }
        }
        
       }
       button{
        position: absolute;;
        bottom: 30px;
        right: 30px;
        font-size: 16px;
        border:1px solid $display-text-color;
        color:$display-text-color;
        border-radius: 20px;
        padding: 5px 10px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $main-font;
        cursor: pointer;
        @include break(0,599px){
          top:10px;
          right:10px;
          bottom: auto;
          font-size: 10px;
        }
    }
  }
  
}