.phones-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.phone{
    width: 150px;
    height:200px;
    background: lightblue;
    margin: 15px;
    cursor: pointer;
}

.phone p{
    font-size: 14px;
    text-transform: capitalize;
}
